/* ============================================================================
    #VAR
============================================================================ */
:root {
  --font-color-black: black;
  --font-color-white: white;
  --main-theme-color-1: #6E9C9F;
  --main-theme-color-2: #F1EADC;
  --gap: 30px;
}




/* ============================================================================
    #FONTS
============================================================================ */

/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
      url('../fonts/raleway-v26-latin_cyrillic-regular.woff2') format('woff2'),
      url('../fonts/raleway-v26-latin_cyrillic-regular.woff') format('woff');
  }

  /* raleway-500 - latin_cyrillic */
  @font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
      url('../fonts/raleway-v26-latin_cyrillic-500.woff2') format('woff2'),
      url('../fonts/raleway-v26-latin_cyrillic-500.woff') format('woff');
  }

  /* raleway-700 - latin_cyrillic */
  @font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
      url('../fonts/raleway-v26-latin_cyrillic-700.woff2') format('woff2'),
      url('../fonts/raleway-v26-latin_cyrillic-700.woff') format('woff');
  }





/* ============================================================================
    #GENERAL
============================================================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: transparent;
  outline-color: transparent;
}

html, body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
  padding-top: 120px;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--font-color-black);
}

img, svg {
  display: block;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
}





/* ============================================================================
    #HEADER
============================================================================ */

.header {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 1;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 245px;
}

.header__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.link-logo {
  flex: 0 0 139px;
}

.link-logo img {
  width: 100%;
  height: 100%;
}

.nav {
  display: flex;
  white-space: nowrap;
}
.nav__list {
  display: flex;
  align-items: flex-end;
}
.nav__item {
  margin-right: 45px;
}
.nav__link {
}

.header__right {
  flex: 0 0 255px;
  display: flex;
  align-items: flex-end;
}
.header__call {
  margin-right: 9px;
}
.phone {
}
.cart {
  margin-left: auto;
}





/* ============================================================================
    #HERO
============================================================================ */

.hero {
  position: relative;
  width: 100%;
  padding-bottom: 150px;
  padding-top: 40px;
}

.hero::before {
  content: '';
  position: absolute;
  top: -85px;
  right: 9px;
  /* width: 770px;
  height: 830px; */
  width: 50%;
  height: 100%;
  background-color: var(--main-theme-color-2);
  z-index: 0;
}

.hero__container {
  max-height: 750px;
  display: flex;
  align-items: center;
}

.hero__col {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__slider:not(:first-child) {
  display: none;
}

.hero__title {
  margin-bottom: 45px;
  font-weight: 500;
  font-size: 55px;
  line-height: 1.1;
}

.hero__content {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hero__text {
  margin-bottom: 50px;
  font-size: 20px;
  text-align: right;
}
.hero__button {
  display: flex;
  color: var(--font-color-white);
}

.hero__button svg {
  flex: 0 0 auto;
}

.hero__button span {
  display: flex;
  align-items: center;
  padding: 0 50px;
  background-color: var(--main-theme-color-1);
}

.hero__img {
  position: relative;
}

.hero__img img {
  width: 100%;
  height: 100%;
}

.hero__img_01 {
}
.hero__img_02 {
  position: absolute;
  top: 20%;
  right: -25%;

}
.hero__img_03 {
  position: absolute;
  left: -33%;
  bottom: -10%;
}





/* ============================================================================
    #NEW
============================================================================ */

.new {
  margin-bottom: 130px;
}

.new__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
}

.new__title {
  align-self: flex-start;
  margin-bottom: 92px;
}

.new__row {
  display: flex;
  margin-bottom: 65px;
  gap: var(--gap);
}

.new__col {
  flex: 1 1 33.333%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}

.card__img {
  margin-bottom: 24px;
}

.card__title {
  margin-bottom: 7px;
  font-size: 20px;
}

.card__price {
  font-size: 15px;
  color: #998E78;
}

.card__price span:nth-of-type(1) {
  margin-right: 10px;
  text-decoration: line-through;
}

.card__price span:nth-of-type(1):empty {
  display: none;
}

.new__button {
  padding: 22px 50px;
  color: var(--main-theme-color-1);
  border: 1px solid var(--main-theme-color-1);
}





/* ============================================================================
    #BENEFITS
============================================================================ */

.benefits {
}
.benefits__container {
}
.container {
}

.benefits__title {
  margin-bottom: 92px;
}
.benefits__row {
  display: flex;
  margin-bottom: 130px;
  gap: var(--gap);
}
.benefits__col {
  flex: 1 1 33.333%;
}

.benefits__card {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.benefits__img {
  width: 61px;
  display: inline-block;
  flex: 0 0 61px;
  margin-bottom: 37px;
}

.benefits__img_1 {
  background: url(../img/index/benefits/01.svg) center center no-repeat;
  background-size: contain;
}

.benefits__img_2 {
  background: url(../img/index/benefits/02.svg) center center no-repeat;
  background-size: contain;
}

.benefits__img_3 {
  background: url(../img/index/benefits/03.svg) center center no-repeat;
  background-size: contain;
}

.benefits__name {
  margin-bottom: 24px;
  font-size: 25px;
}

.benefits__text {
  padding: 0 45px 24px 0;
}





/* ============================================================================
    #BENEFITS
============================================================================ */

.about {
}
.container {
}
.about__title {
  margin-bottom: 92px;
}

.about__row {
  display: flex;
}
.about__col {
}
.about__slider {
}
.about__img:not(:first-child) {
  display: none;
}
.about__content {
}
.about__name {
}
.about__text {
}
.about__link {
}



