/* ============================================================================
    #VAR
============================================================================ */
:root {
  --font-color-black: black;
  --font-color-white: white;
  --main-theme-color-1: #6E9C9F;
  --main-theme-color-2: #F1EADC;
  --header-height: 95px;
  --gap: 30px;
  --swiper-pagination-bullet-width: 30px;
  --swiper-pagination-bullet-height: 4px;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 6px;
}




/* ============================================================================
    #FONTS
============================================================================ */

/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
      url('../fonts/raleway-v26-latin_cyrillic-regular.woff2') format('woff2'),
      url('../fonts/raleway-v26-latin_cyrillic-regular.woff') format('woff');
  }

  /* raleway-500 - latin_cyrillic */
  @font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
      url('../fonts/raleway-v26-latin_cyrillic-500.woff2') format('woff2'),
      url('../fonts/raleway-v26-latin_cyrillic-500.woff') format('woff');
  }

  /* raleway-700 - latin_cyrillic */
  @font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
      url('../fonts/raleway-v26-latin_cyrillic-700.woff2') format('woff2'),
      url('../fonts/raleway-v26-latin_cyrillic-700.woff') format('woff');
  }





/* ============================================================================
    #GENERAL
============================================================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: transparent;
  outline-color: transparent;
}

html, body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
  padding-top: var(--header-height);
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--font-color-black);
}

img, svg {
  max-width: 100%;
  display: block;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
}





/* ============================================================================
    #HEADER
============================================================================ */

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  /* background: white; */
  z-index: 1;
}

.container {
  max-width: 1140px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-logo {
  flex: 0 0 139px;
}

.link-logo img {
  width: 100%;
  height: 100%;
}

.nav {
  display: flex;
  white-space: nowrap;
  font-size: 15px;
}

.nav__list {
  display: flex;
  align-items: flex-end;
}

.nav__item:not(:last-child) {
  margin-right: 45px;
}

.header__right {
  flex: 0 0 255px;
  display: flex;
  align-items: flex-end;
}

.header__call {
  margin-right: 9px;
}

.phone {
  font-size: 15px;
}

.cart {
  margin-left: auto;
}





/* ============================================================================
    #HERO
============================================================================ */

.hero {
  position: relative;
  width: 100%;
  padding-bottom: 150px;
}

.hero::before {
  content: '';
  position: absolute;
  top: -120px;
  right: 0;
  width: 44%;
  height: 104.4%;
  background-color: var(--main-theme-color-2);
  z-index: 0;
}

.hero__container {
  display: flex;
  align-items: flex-end;
}

.hero__col {
  display: flex;
  flex-direction: column;
}

.hero__col:nth-child(1) {
  min-width: 100px;
  flex: 0 0 52%;
  align-items: center;
}

.hero .swiper {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.hero .swiper-pagination-bullets.swiper-pagination-horizontal {
  position: static;
  width: 66%;
  margin-top: 126px;
  text-align: right;
}

.hero .swiper-pagination-bullet {
  border-radius: 0;
  background-color: #D1D1D1;
  opacity: 1;
  transition: background-color 0.2s ease;
}

.hero .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: black;
}

.hero__col:nth-child(2) {
  flex: 0 0 48%;
  align-items: flex-end;
}

.hero__slider {
}

.hero__title {
  margin-bottom: 45px;
  font-weight: 500;
  font-size: 55px;
  line-height: 1.1;
}

.hero__content {
  width: 66%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hero__text {
  margin-bottom: 50px;
  font-size: 20px;
  text-align: right;
}
.hero__button {
  display: flex;
  color: var(--font-color-white);
}

.hero__button svg {
  flex: 0 0 auto;
}

.hero__button span {
  display: flex;
  align-items: center;
  padding: 0 50px;
  background-color: var(--main-theme-color-1);
}

.hero__img {
  position: relative;
}

.hero__img_02 {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 30%;
  margin-right: -26%;
}

.hero__img_03 {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: -30%;
  margin-bottom: -16%;
}





/* ============================================================================
    #NEW
============================================================================ */

.new {
  margin-bottom: 130px;
}

.new__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new__title {
  align-self: flex-start;
  margin-bottom: 92px;
}

.new__row {
  display: flex;
  margin-bottom: 65px;
  gap: var(--gap);
}

.new__col {
  flex: 1 1 33.333%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}

.card__title {
  margin-top: 24px;
  margin-bottom: 7px;
  font-size: 20px;
}

.card__price {
  font-size: 15px;
  color: #998E78;
}

.card__price span:nth-of-type(1) {
  margin-right: 10px;
  text-decoration: line-through;
}

.card__price span:nth-of-type(1):empty {
  display: none;
}

.new__button {
  padding: 22px 50px;
  color: var(--main-theme-color-1);
  border: 1px solid var(--main-theme-color-1);
}





/* ============================================================================
    #BENEFITS
============================================================================ */

.benefits__title {
  margin-bottom: 92px;
}

.benefits__row {
  display: flex;
  margin-bottom: 130px;
  gap: var(--gap);
}

.benefits__col {
  flex: 1 1 33.333%;
}

.benefits__card {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.benefits__img {
  width: 61px;
  display: inline-block;
  flex: 0 0 61px;
  margin-bottom: 37px;
}

.benefits__img_1 {
  background: url(../img/index/benefits/01.svg) center center no-repeat;
  background-size: contain;
}

.benefits__img_2 {
  background: url(../img/index/benefits/02.svg) center center no-repeat;
  background-size: contain;
}

.benefits__img_3 {
  background: url(../img/index/benefits/03.svg) center center no-repeat;
  background-size: contain;
}

.benefits__name {
  margin-bottom: 24px;
  font-size: 25px;
}

.benefits__text {
  padding: 0 45px 24px 0;
}





/* ============================================================================
    #ABOUT
============================================================================ */

.about {
  margin-bottom: 130px;
}

.about__title {
  margin-bottom: 92px;
}

.about__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__col:nth-child(1) {
  flex: 0 1 66.667%;
  min-width: 100px;
}

.about__col:nth-child(2) {
  flex: 0 1 25%;
}

/* .about__slider {
  margin-left: -60px;
  padding-left: 60px;
} */

.about .swiper {
  width: 100%;
  height: 100%;
}

.about .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 60px;
}

.about .swiper-pagination-bullet {
  border-radius: 0;
  background-color: white;
  opacity: 0.36;
  transition: background-color 0.2s ease;
}

.about .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: white;
  opacity: 1;
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__content {
  font-weight: 500;
}

.about__name {
  margin-bottom: 28px;
  font-size: 25px;
}

.about__text {
  margin-bottom: 28px;
}

.about__link {
  color: var(--main-theme-color-1);
}





/* ============================================================================
    #FOOTER
============================================================================ */

.footer {
  background-color: var(--main-theme-color-2);
}

.footer__container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer__row:nth-child(1) {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__nav {
  flex: 0 1 47%;
}

.footer__row:nth-child(2) {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  flex-direction: column;
}

.footer__col:nth-child(1) {
  font-size: 13px;
}

.footer__copyright,
.footer__politics
{
  margin-bottom: 6px;
}

.footer__col:nth-child(2) {
  flex: 0 1 31.5%;
}

.footer__categories {
  font-size: 13px;
}

.categories__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__col:nth-child(3) {
  align-items: flex-end;
}

.footer__mail {
  margin-bottom: 30px;
  font-size: 15px;
}

.social__list {
  margin-bottom: 30px;
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 12px;
}

.social__item span,
.payments span
{
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.social__item span {
  width: 23px;
  height: 23px;
}

.social__item:nth-child(1) span {
  background-image: url(/img/index/footer/instagram.svg);
}

.social__item:nth-child(2) span {
  background-image: url(/img/index/footer/facebook.svg);
}

.social__item:nth-child(3) span {
  background-image: url(/img/index/footer/twitter.svg);
}

.payments span {
  width: 68px;
  height: 22px;
  background-image: url(../img/index/footer/visa-mastercard.png);
}


