/* ============================================================================
    #VAR
============================================================================ */
:root {
  --font-color-black: black;
  --font-color-white: white;
  --main-theme-color-1: #6E9C9F;
  --main-theme-color-2: #F1EADC;
  --header-height: 95px;
  --gap: 30px;
  --swiper-pagination-bullet-width: 30px;
  --swiper-pagination-bullet-height: 4px;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 6px;
}




/* ============================================================================
    #FONTS
============================================================================ */

/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
      url('../fonts/raleway-v26-latin_cyrillic-regular.woff2') format('woff2'),
      url('../fonts/raleway-v26-latin_cyrillic-regular.woff') format('woff');
  }

  /* raleway-500 - latin_cyrillic */
  @font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
      url('../fonts/raleway-v26-latin_cyrillic-500.woff2') format('woff2'),
      url('../fonts/raleway-v26-latin_cyrillic-500.woff') format('woff');
  }

  /* raleway-700 - latin_cyrillic */
  @font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
      url('../fonts/raleway-v26-latin_cyrillic-700.woff2') format('woff2'),
      url('../fonts/raleway-v26-latin_cyrillic-700.woff') format('woff');
  }





/* ============================================================================
    #GENERAL
============================================================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: transparent;
  outline-color: transparent;
}

html, body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  scroll-behavior: smooth;
}

.container {
  max-width: 1170px;
  height: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

section {
  margin-bottom: 130px;
}

.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
  padding-top: var(--header-height);
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--font-color-black);
}

img, svg {
  max-width: 100%;
  display: block;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
}

.button {
  padding: 22px 50px;
}

.button_color {
  color: var(--font-color-white);
  background-color: var(--main-theme-color-1);
  border: none;
}

.button_white {
  color: var(--main-theme-color-1);
  background-color: transparent;
  border: 1px solid var(--main-theme-color-1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}





/* ============================================================================
    #HEADER
============================================================================ */

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header.scroll {
  background: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger {
  display: none;
}

.link-logo {
  flex: 0 0 139px;
}

.link-logo img {
  width: 100%;
  height: 100%;
}

.nav {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 15px;
}

.header__nav {
  flex-basis: 57%;
}

.nav__list {
  display: flex;
  align-items: flex-end;
}

.nav__item:not(:last-child) {
  margin-right: 45px;
}

.nav__link.active {
  font-weight: 700;
  color: var(--main-theme-color-1);
}

.header__call {
  position: absolute;
  right: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  margin-right: 9px;
}

.phone {
  font-size: 15px;
}

.header__phone {
  position: absolute !important;
  right: 65px;
}






/* ============================================================================
    #HERO
============================================================================ */

.hero {
  position: relative;
  width: 100%;
}

.hero::before {
  content: '';
  position: absolute;
  top: -120px;
  right: 0;
  width: 45%;
  height: 129%;
  background-color: var(--main-theme-color-2);
  z-index: 0;
}

.hero__container {
  display: flex;
  align-items: flex-end;
}

.hero__col {
  display: flex;
  flex-direction: column;
}

.hero__col:nth-child(1) {
  min-width: 100px;
  flex: 0 0 52%;
  align-items: center;
}

.hero .swiper {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.hero .swiper-pagination-bullets.swiper-pagination-horizontal {
  position: static;
  width: 66%;
  margin-top: 126px;
  text-align: right;
}

.hero .swiper-pagination-bullet {
  border-radius: 0;
  background-color: #D1D1D1;
  opacity: 1;
  transition: background-color 0.2s ease;
}

.hero .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: black;
}

.hero__col:nth-child(2) {
  flex: 0 0 48%;
  align-items: flex-end;
}

.hero__title {
  margin-bottom: 45px;
  font-weight: 500;
  font-size: 55px;
  line-height: 1.1;
}

.hero__content {
  width: 66%;
}

.hero__text {
  margin-bottom: 50px;
  font-size: 20px;
  text-align: right;
}

.hero__button-wrap {
  width: 66%;
  display: flex;
  justify-content: flex-end;
}

.hero__button {
  display: flex;
}

.hero__button svg {
  flex: 0 0 auto;
}

.hero__button span {
  display: flex;
  align-items: center;
}

.hero__img {
  position: relative;
}

.hero__img-02 {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 30%;
  margin-right: -26%;
}

.hero__img-03 {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: -30%;
  margin-bottom: -16%;
}





/* ============================================================================
    #NEW
============================================================================ */

.new__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new__title {
  align-self: flex-start;
  margin-bottom: 92px;
}

.new__row {
  display: flex;
  margin-bottom: 65px;
  gap: var(--gap);
}

.new__col {
  flex: 1 1 33.333%;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}
.card__link-img {
  position: relative;
}

.card__title {
  margin-top: 24px;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 20px;
}

.card__price {
  font-size: 15px;
  color: #998E78;
}

.card__price span:nth-of-type(1) {
  margin-right: 10px;
  text-decoration: line-through;
}

.card__price span:nth-of-type(1):empty {
  display: none;
}





/* ============================================================================
    #BENEFITS
============================================================================ */

.benefits__title {
  margin-bottom: 92px;
}

.benefits__row {
  display: flex;
  gap: var(--gap);
}

.benefits__col {
  flex: 1 1 33.333%;
}

.benefits__card {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.benefits__img {
  width: 61px;
  display: inline-block;
  flex: 0 0 61px;
  margin-bottom: 37px;
}

.benefits__img_1 {
  background: url(../img/index/benefits/01.svg) center center no-repeat;
  background-size: contain;
}

.benefits__img_2 {
  background: url(../img/index/benefits/02.svg) center center no-repeat;
  background-size: contain;
}

.benefits__img_3 {
  background: url(../img/index/benefits/03.svg) center center no-repeat;
  background-size: contain;
}

.benefits__name {
  margin-bottom: 24px;
  font-size: 25px;
}

.benefits__text {
  padding: 0 45px 24px 0;
}





/* ============================================================================
    #ABOUT
============================================================================ */

.about__title {
  margin-bottom: 92px;
}

.about__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__col:nth-child(1) {
  position: relative;
  flex: 0 1 66.667%;
  min-width: 100px;
  display: flex;
}

.about__col:nth-child(2) {
  flex: 0 1 25%;
}

.about .swiper-2 {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  cursor: pointer;
}

.about .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 60px;
}

.about .swiper-pagination-bullet {
  border-radius: 0;
  background-color: white;
  opacity: 0.36;
  transition: background-color 0.2s ease;
}

.about .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: white;
  opacity: 1;
}

.about .swiper-button-prev {
  left: -8%;
}

.about .swiper-button-prev::after {
  content: '';
  width: 28px;
  height: 14px;
  background: url(../img/index/about/prew.svg) center no-repeat;
}

.about .swiper-button-next {
  right: -8%;
}

.about .swiper-button-next::after {
  content: '';
  width: 28px;
  height: 14px;
  background: url(../img/index/about/next.svg) center no-repeat;
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__content {
  font-weight: 500;
}

.about__name {
  margin-bottom: 28px;
  font-size: 25px;
}

.about__text {
  margin-bottom: 28px;
}

.about__link {
  color: var(--main-theme-color-1);
}





/* ============================================================================
    #FOOTER
============================================================================ */

.footer {
  background-color: var(--main-theme-color-2);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer__col {
  display: flex;
  flex-direction: column;
}

.footer__col:nth-child(2) {
  flex-basis: 57%;
}

.footer__col:nth-child(3) {
  margin-left: 15px;
  align-items: flex-end;
}

.footer__logo-wrap {
  margin-bottom: 70px;
}

.footer__politics-block {
  display: flex;
  flex-direction: column;
}

.footer__copyright,
.footer__politics
{
  margin-bottom: 6px;
}

.footer__nav {
  margin-bottom: 40px;
}

.footer__categories {
  padding-left: 107px;
  font-size: 13px;
}

.categories__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__phone {
  margin-bottom: 9px;
}

.footer__mail {
  margin-bottom: 30px;
  font-size: 15px;
}

.social {
  margin-bottom: 30px;
}

.social__list {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 12px;
}

.social__item span,
.payments span
{
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.social__item span {
  width: 23px;
  height: 23px;
}

.social__item:nth-child(1) span {
  background-image: url(../img/index/footer/instagram.svg);
}

.social__item:nth-child(2) span {
  background-image: url(../img/index/footer/facebook.svg);
}

.social__item:nth-child(3) span {
  background-image: url(../img/index/footer/twitter.svg);
}

.payments span {
  width: 68px;
  height: 22px;
  background-image: url(../img/index/footer/visa-mastercard.png);
}





/* ============================================================================
    #HOVER
============================================================================ */

.link {
  position: relative;
  transition: color 0.5s ease;
}

.link::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--main-theme-color-1);
  transform: scale(0);
  transition: transform 0.5s ease;
}

.link:not(.nav__link.active):hover::after {
  transform: scale(1);
}

.link:hover {
  color: var(--main-theme-color-1);
}





.header__call {
  transition: opacity 0.3s ease;
}

.header__call svg path {
  transition: fill 0.5s ease;
}

.header__call:hover {
  background-color: var(--main-theme-color-1);
}

.header__call:hover svg path {
  fill: white;
}





.button {
  transition: background-color 0.5s ease, color 0.5s ease;
}

.hero__button:hover span {
  background-color: #509498;
}

.button_white:hover {
  color: white;
  background-color: var(--main-theme-color-1);
}





.card__link-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: url(../img/index/new/go.svg) center center no-repeat, rgba(110, 156, 159, 0.64);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.card__link-img:hover::after {
  opacity: 1;
}





/* ============================================================================
    #CALLBACK POPUP
============================================================================ */

.callback-popup-wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(110, 156, 159, 0.95);
  z-index: 20;
}

.callback-popup {
  position: relative;
  background: white;
}

.callback-popup-form {
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.callback-popup__close {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 15px;
  height: 15px;
}

.callback-popup__close span {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  height: 1px;
  background-color: black;
  transform-origin: center;
}

.callback-popup__close span:nth-of-type(1) {
  top: 50%;
  transform: rotate(45deg);
}

.callback-popup__close span:nth-of-type(2) {
  top: 50%;
  transform: rotate(-45deg);
}

.callback-popup__title {
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 25px;
}

.callback-popup form {
  display: flex;
  flex-direction: column;
}

.callback-popup__input {
  height: 40px;
  display: block;
  margin-bottom: 35px;
  border-bottom: 1px solid black;
}

.callback-popup__input::placeholder {
  font-weight: 500;
  color: #868686;
}

.callback-popup__button {
  padding: 22px 108px;
  color: white;
  background-color: var(--main-theme-color-1);
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
  white-space: nowrap;
}

.callback-popup__button_light {
  color: var(--main-theme-color-1);
  background-color: white;
  border: 1px solid var(--main-theme-color-1);
}

.callback-popup__button:hover {
  background-color: #509498;
}

.callback-popup__button_light:hover {
  background-color: var(--main-theme-color-1);
  color: white;
}

.callback-popup__input:focus {
  outline: none;
}

.callback-popup-result {
  padding: 70px;
  flex-direction: column;
  align-items: center;
  display: none;
}





/* ============================================================================
    #MEDIA
============================================================================ */
@media (max-width: 1299px) {
  .hero__img-02,
  .hero__img-03,
  .swiper-button-prev,
  .swiper-button-next
  {
    display: none;
  }
  .hero::before {
    height: 119%;
  }
  .hero__content,
  .hero__button-wrap
  {
    width: 90%;
  }
  .hero__text {
    text-align: left;
  }
  .about__col:nth-child(2) {
    flex-basis: 30%;
  }
}
@media (max-width: 991px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* ============================================================================
      #BURGER
  ============================================================================ */
  .burger {
    position: relative;
    display: block;
    width: 30px;
    height: 23px;
    background: transparent;
    border: none;
    z-index: 3;
    cursor: pointer;
  }
  .burger span,
  .burger::before,
  .burger::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--font-color-black);
  }
  .burger::before,
  .burger::after {
    content: '';
  }
  .burger span {
    top: 10px;
    transition: transform 0.3s ease;
  }
  .burger::before {
    top: 0;
    transition: transform 0.3s ease, top 0.3s ease;
  }
  .burger::after {
    bottom: 0;
    transition: transform 0.3s ease, bottom 0.3s ease;
  }
  .header__nav {
    position: fixed;
    top: 0;
    left: -150%;
    width: 420px;
    height: 100%;
    max-height: 100vh;
    align-items: flex-start;
    overflow: auto;
    background-color: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    border-top: var(--header-height) solid white;
    transition: left 0.3s ease;
  }
  .header__nav-list {
    flex-direction: column;
    align-items: flex-start;
    padding: 60px;
  }
  .header__nav-item:not(:last-child) {
    margin-bottom: 60px;
  }
  .header__nav-item {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }
  .header__nav.active {
    left: 0;
  }
  .burger.active span {
    transform: scale(0);
  }
  .burger.active::before {
    transform: rotate(45deg);
    top: 10px;
  }
  .burger.active::after {
    transform: rotate(-45deg);
    bottom: 10px;
  }




  .hero .swiper-pagination-bullets.swiper-pagination-horizontal {
    margin-top: 30px;
  }
  .hero__container {
    align-items: center;
  }
  .hero::before {
    width: 50%;
  }
  .hero__title {
    font-size: 40px;
  }
  .hero__col {
    flex-basis: 50% !important;
  }
  .footer__col:nth-child(2) {
    margin-left: 0;
  }
  .nav__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  :root {
    --gap: 15px;
  }
  section {
    margin-bottom: 50px;
  }
  .title {
    font-size: 32px;
  }
  .header__call {
    visibility: hidden;
    opacity: 0;
    right: 0;
    left: 60px;
    position: fixed;
    transition: background-color 0.5s ease, opacity 0.3s ease;
  }
  .header__phone {
    visibility: hidden;
    opacity: 0;
    right: auto;
    left: 90px;
    position: fixed;
    transition: color 0.5s ease, opacity 0.3s ease;
  }
  .header__call.active {
    visibility: visible;
    opacity: 1;
  }
  .header__phone.active {
    visibility: visible;
    opacity: 1;
  }
  .button_color {
    padding-left: 30px;
    padding-right: 30px;
  }
  .new__title {
    margin-bottom: 30px;
  }
  .new__row {
    margin-bottom: 30px;
  }
  .benefits__title {
    margin-bottom: 30px;
  }
  .card__title {
    margin-top: 7px;
  }
  .benefits__row {
    flex-direction: column;
  }
  .benefits__card {
    align-items: center;
  }
  .benefits__img,
  .benefits__name
  {
    margin-bottom: 8px;
  }
  .benefits__text {
    width: 80%;
    padding: 0px;
    text-align: center;
  }
  .about__title {
    margin-bottom: 30px;
  }
  .about__row {
    flex-direction: column;
    gap: var(--gap);
  }
  .about__col:nth-child(1) {
    width: 100%;
  }
  .about__content {
    text-align: center;
  }
  .footer__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer__container {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap);
  }
  .footer__col:nth-child(2) {
    display: none;
  }
  .footer__col:nth-child(3) {
    margin-left: 0;
    align-items: flex-start;
  }
  .footer__col:nth-child(1) {
    margin-bottom: calc(var(--gap) * 2);
  }
  .footer__politics-block {
    align-items: flex-start;
  }
  .footer__logo-wrap {
    margin-bottom: calc(var(--gap) * 2);
  }
  .footer__phone,
  .footer__mail,
  .social
  {
    margin-bottom: 10px;
  }
}

@media (max-width: 650px) {
  .hero__container {
    position: relative;
    display: block;
    overflow: hidden;
    padding-left: 50px;
    padding-right: 50px;
  }
  .hero__slider {
    padding: 15px;
  }
  .hero__col:nth-child(1) {
    width: 410px;
  }
  .hero__col:nth-child(2) {
    position: absolute;
    top: 0;
  }
  .hero__title,
  .hero__content
  {
    color: var(--font-color-white);
  }
  .hero__button svg rect {
    fill: white;
    fill-opacity: 0.5;
  }
  .hero__button-wrap {
    width: 100%;
    justify-content: center;
  }
  .hero .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--main-theme-color-2);
  }
  .new__row {
    flex-direction: column;
  }
}
@media (max-width: 510px) {
  .hero__container {
    padding-left: 8px;
    padding-right: 8px;
  }
  .hero__col:nth-child(1) {
    width: 100%;
  }
  .hero__col:nth-child(2) {
    left: 0;
  }
  .hero__col:nth-child(2),
  .hero__img,
  .hero__img img
  {
    width: 100%;
  }
}
@media (max-width: 480px) {
  :root {
    --header-height: 80px;
  }
  .title {
    font-size: 26px;
  }
  .benefits__text {
    width: 100%;
  }
  .container {
    padding-left: 8px;
    padding-right: 8px;
  }
  .header__nav-item:not(:last-child) {
    margin-bottom: 40px;
    margin-right: 0;
  }
  .card__title,
  .card__price,
  .benefits__text,
  .about__text
  {
    font-size: 14px;
  }
  .benefits__name,
  .about__name
  {
    font-size: 22px;
  }
  .footer__container,
  .footer__col:nth-child(1),
  .footer__col:nth-child(3),
  .footer__politics-block
  {
    align-items: center;
  }
  .footer__copyright,
  .footer__politics,
  .footer__offer
  {
    font-size: 12px;
  }
}

